dj-database-url==0.4.2
django-appconf==1.0.1
Django==1.10
boto==2.47.0
cssselect==1.0.1
cssutils==1.0.2
Django==1.10
django-appconf==1.0.1
django-compressor==2.1
django-ses-backend==0.1.1
djmail==0.11.0
futures==3.0.3
gunicorn==19.7.1
whitenoise==3.3.0
