.page-welcome .navbar {
    margin-bottom: 0;
}

.index-bleed {
    background: #FFF;
    padding-bottom: 2em;
}

.get-started-bleed {
    background: #e5ece5;
    padding-bottom: 3em;
}

.footer-jumbo-bleed {
    background: #eee;
}

#align-buttons {
    margin-top: -20px;
}

#pitch {
    text-align: center;
    padding: 100px 0;
    margin: 0;
}

#pitch-subtitle {
    margin-top: 0;
    text-align: center;
}

#pitch-url {
    text-align: center;
    font-family: monospace;
    margin: 10px auto;
}

#pitch-url-input {
    text-align: center;
    background: #FFF;
    border: 0;
    box-shadow: none;
    cursor: text;
}

#pitch-text {
    margin: 0 auto 72px auto;
}

.nav-tabs {
    margin-bottom: 0;
}

.page-welcome .highlight pre {
    background: #FFF;
    border-top: 0;
    border-radius: 0;
    border-color: #dddddd;
}

#email .instructions {
    background: #FFF;
    border: 1px solid #dddddd;
    border-top: 0;
    padding: 10px;
}

#email .email-address {
    font-size: 18px;
    padding-top: 10px;
}

#get-started {
    margin-top: 4em;
}

.tour-title {
    margin: 50px 0;
}

.tour-section {
    margin-bottom: 50px;
}

.welcome-integrations img {
    width: 22px;
    height: 22px;
}

#collaboration {
    text-align: center;
    font-size: 30px;
}

#collaboration a {
    color: #00cc99;
    margin-top: -40px;
    margin-bottom: 10px;
}

#collaboration a:hover,
#collaboration a.hover,
#collaboration a:link {
    color: #29B66C;
    text-decoration: none;
}

#collaboration a:visited {
    color: #9932CC;
    text-decoration: underline;
}

.spacing {
    padding-bottom: 20px;
}

* {
    box-sizing: border-box
}

.slideshow-container {
    position: relative;
    margin: auto;
}

.slides {
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: #191920;
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #29B66C;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    right: 0px
}

.dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot.active,
.dot:hover {
    background-color: #717171;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

.slideshow-container .slides {
    box-shadow: 0px 1px 4px #888;
}

.slideshow-container .slides .img-responsive {
    height: 500px;
    width: 100%;
}

.containerk {
    position: relative;
    width: 50%;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: rgba(30, 30, 30, 0.7);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.containerk:hover .overlay {
    bottom: 0;
    height: 100%;
}

.over_text {
    color: white;
}

.spacer {
    padding: 30px;
}

.maginer {
    margin-left: 7%;
}